
<div class="container-fluid mt-5">
    <h4>Top Headlines!</h4>
    <div class="row">
        <div class="col-lg-4 mt-3 mb-3">
        @for(news of dailyNews; track news.source.url){
            <div class="card">
                <img src="{{news.image}}" width="100%" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{news.title}}</h5>
                    <a href="{{news.url}}" target="_blank" class="btn btn-dark btn-sm-2">Read More</a>
                </div>
            </div>
        }
    </div>
</div>